/* PrimeNG Theme */
@import 'primeicons/primeicons.css';
@import "tailwindcss";
@import "tailwindcss-primeui";


/* Estilos globales */
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

.p-datatable .p-datatable-header {
  background: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 1rem;
  font-weight: 600;
}

